@{
    ViewBag.Title = "WebMP3 Library";
}

<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: left;
        border-collapse: separate;
        border-spacing: 5px;
        background: #ECE9E0;
        color: #656665;
        border: 16px solid #ECE9E0;
        border-radius: 20px;
        max-width: 100%;
    }

    th {
        font-size: 18px;
        padding: 10px;
    }

    td {
        background: #F5D7BF;
        padding: 10px;
    }

    hr {
        border: none; /* Убираем границу */
        background-color: cornflowerblue; /* Цвет линии */
        color: cornflowerblue; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
    }

    img {
        border-radius: 20px;
        width: 300px;
    }

    audio {
        width: 100%;
    }
</style>


@using WebMP3.temp;
@using WebMP3.FilesWorkers;
@{
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    var Paths = FileHelper.GetPaths(@"D:\Паша\! ! ! Сборки\__ПодборкаВМашину\DubStep");
    List<MP3File> listMP3Files = new List<MP3File>();
    foreach (var path in Paths)
    {
        listMP3Files.Add(new MP3File { Path = path, Mp3Info = new MP3Info(path)});
    }


    foreach (var file in listMP3Files)
    {
        <div class="col-md-12">
            <table>
                <caption>@file.Path</caption>
                <tr>
                    <th>Artists</th>
                    <th>Title</th>
                    <th>Bitrate</th>
                    <th>Genres</th>
                    <th>Year</th>
                    <th>Bpm</th>
                    <th>Duration</th>
                    <th>Album</th>
                </tr>
                <tr>
                    <td>@file.Mp3Info.Performers</td>
                    <td>@file.Mp3Info.Title</td>
                    <td>@file.Mp3Info.AudioBitrate</td>
                    <td>@file.Mp3Info.Genres</td>
                    <td>@file.Mp3Info.Year</td>
                    <td>@file.Mp3Info.Bpm</td>
                    <td>@file.Mp3Info.Duration</td>
                    <td>@file.Mp3Info.Album</td>
                </tr>
            </table>


            @{
                System.Drawing.Image ImageMP3 = file.Mp3Info.Image != null ? file.Mp3Info.Image : null;
                if (ImageMP3 != null)
                {
                    var imgSrc = FileHelper.GetStringFromImage(ImageMP3);
                    <img src='@imgSrc' alt="Картинка трека">
                }
                else
                {
                    <img src="~/Images/no-image-available.jpg" alt="Нет изображения для трека">
                }
            }
            <br>
            <audio src='@Url.Action("GetAudioFile", new { file = file.Path })' controls="controls" preload="auto"></audio>
            <hr>
        </div>
    }
}